<html ng-app="myApp">

<head>
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<!-- endbower -->

	<!-- inject:css -->
	<!-- endinject -->
</head>

<body ng-controller="TodoController as todoCtrl">
	<div class="container-fluid">
		<div class="jumbotron jumbotron-fluid">
			<h1>Very Simple Todo APP</h1>
			<hr/>
			<div class="row">
				<div class="col-md-4">
					Add todo Item : <input type="text" ng-model="todoCtrl.item"/>
					<select ng-model="todoCtrl.priority">
							<option value="1">High</option>
							<option value="2">Medium</option>
							<option value="3">Low</option>
						</select>
					<button ng-click="todoCtrl.addTodo()">Add</button>
				</div>
				<div class="col-md-8">
					<button id="priorityButton" name="button" class="btn btn-primary" ng-click="sortPriority = 'priority'">order high-low</button>
					<button id="priorityButton" name="button" class="btn btn-primary" ng-click="sortPriority = '-priority'">order low-high</button>
					<button id="priorityButton" name="button" class="btn btn-primary" ng-click="sortPriority = 'item'">order alphabetically</button>

					<table>
						<tbody>
							<tr ng-repeat="value in todoCtrl.todos | orderBy:sortPriority" ng-class="{'bg-info': {{todoCtrl.priority}} === 3, 'bg-warning': {{todoCtrl.priority}} === 2, 'bg-danger': {{todoCtrl.priority}} === 1}">
								<td>{{value.item}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<!-- bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbower -->

	<!-- inject:js -->
	<script src="app/angular.js"></script>
	<script src="app/todo/todo.controller.js"></script>
	<!-- endinject -->
</body>

</html>
